body {
    margin: 0;
    font-family: Arial;
    background: #fff5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    background: #d62300;
    color: white;
    text-align: center;
    padding: 20px;
}

.thankyou-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-top: 6px solid #d62300;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(40, 71, 245);
}